repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
    - id: trailing-whitespace
      exclude: compliance_checker/tests/data
    - id: check-ast
    - id: debug-statements
    - id: end-of-file-fixer
      exclude: compliance_checker/tests/data
    - id: check-docstring-first
    - id: check-added-large-files
    - id: requirements-txt-fixer

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
    - id: flake8
      exclude: docs/source/conf.py
      args: [--max-line-length=200, "--ignore=E203,E501,W503", "--select=select=C,E,F,W,B,B950"]

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort
    additional_dependencies: [toml]
    args: ["--profile", "black", "--filter-files"]

- repo: https://github.com/psf/black
  rev: 22.10.0
  hooks:
  - id: black
    language_version: python3

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.2
  hooks:
    - id: codespell
      args:
        - --ignore-words-list=degreee,varn,poit,uint,sur,herat,claus,dedent,dedenting,dedents,dedented
      exclude: >
          (?x)^(
              .*\.xml|
              .*\.cdl|
              .*_version.py|
              .*versioneer.py
          )$

ci:
    autofix_commit_msg: |
        [pre-commit.ci] auto fixes from pre-commit.com hooks

        for more information, see https://pre-commit.ci
    autofix_prs: false
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: monthly
    skip: []
    submodules: false
