cf-units>=2
cftime>=1.1.0
isodate>=0.5.4
Jinja2>=2.7.3
lxml>=3.2.1
netCDF4>=1.4.0
OWSLib>=0.8.3
pendulum>=1.2.4
pygeoif>=0.6
pyproj>=2.2.1
regex>=2017.07.28
requests>=2.2.1
setuptools>=15.0
validators>=0.14.2
shapely
