cftime>=1.1.0
isodate>=0.6.1
jinja2>=2.7.3
lxml>=3.2.1
mocket>=3.13.3
myst-parser
netcdf4>=1.6.4
numpydoc
owslib>=0.8.3
packaging
pendulum>=1.2.4
pydata-sphinx-theme
pygeoif>=0.6
pyproj>=2.2.1
pytest>=2.9.0
pytest-vcr
pyudunits2
regex>=2017.07.28
requests>=2.2.1
requests-mock>=1.7.0
setuptools>=15.0
shapely>=1.7.1
validators>=0.14.2
