<!-- Template for the HTML markup for the results of a single test -->
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h3>Your dataset scored {{scored_points}} out of {{possible_points}} points</h3>
      <p>During the {{testname}} check</p>
      <p>For dataset {{source_name}}</p>
    </div>
  </div>
  <div class="col-md-12">
    <h4>
      Scoring Breakdown:
    </h4>
  </div>
  <div class="col-md-12">
    <div class="table-collapse">
      <a data-target="high-priority-table" href="#">High Priority <i class="glyphicon glyphicon-collapse-up"></i></a>
    </div>
    {% if high_count -%}
    <div class="failures">
      | <span class="label label-danger label-as-badge">{{ high_count }}</span>
    </div>
    {% endif -%}
    <div class="high-priority-table collapse in">
      <table class="table">
        <thead>
          <tr>
            <th class="tname">Name</th>
            <th class="tscore">Score</th>
          </tr>
        </thead>
        <tbody>
          {% for score in high_priorities -%}
          {% if score['value'][0] < score['value'][1] -%}
          <tr class="bad-score">
          {% else -%}
          <tr>
          {% endif -%}

            <td>{{score['name']}}</td>
            <td>{{score['value'][0]}}/{{score['value'][1]}}</td>
          </tr>
          {% endfor -%}
        </tbody>
      </table>
    </div> <!-- .high-priority-table -->
  </div> <!-- .col-md-12 -->
  <div class="col-md-12">
    <div class="table-collapse">
      <a data-target="medium-priority-table" href="#">Medium Priority <i class="glyphicon glyphicon-collapse-up"></i></a>
    </div>
    {% if medium_count -%}
    <div class="failures">
      | <span class="label label-danger label-as-badge">{{ medium_count }}</span>
    </div>
    {% endif -%}
    <div class="medium-priority-table collapse in">
      <table class="table">
        <thead>
          <tr>
            <th class="tname">Name</th>
            <th class="tscore">Score</th>
          </tr>
        </thead>
        <tbody>
          {% for score in medium_priorities -%}
          {% if score['value'][0] < score['value'][1] -%}
          <tr class="bad-score">
          {% else -%}
          <tr>
          {% endif -%}

            <td>{{score['name']}}</td>
            <td>{{score['value'][0]}}/{{score['value'][1]}}</td>
          </tr>
          {% endfor -%}
        </tbody>
      </table>
    </div> <!-- .medium-priority-table -->
  </div> <!-- .col-md-12 -->
  <div class="col-md-12">
    <div class="table-collapse">
      <a data-target="low-priority-table" href="#">Low Priority <i class="glyphicon glyphicon-collapse-up"></i></a>
    </div>
    {% if low_count -%}
    <div class="failures">
      | <span class="label label-danger label-as-badge">{{ low_count }}</span>
    </div>
    {% endif -%}
    <div class="low-priority-table collapse in">
      <table class="table">
        <thead>
          <tr>
            <th class="tname">Name</th>
            <th class="tscore">Score</th>
          </tr>
        </thead>
        <tbody>
          {% for score in low_priorities -%}
          {% if score['value'][0] < score['value'][1] -%}
          <tr class="bad-score">
          {% else -%}
          <tr>
          {% endif -%}

            <td>{{score['name']}}</td>
            <td>{{score['value'][0]}}/{{score['value'][1]}}</td>
          </tr>
          {% endfor -%}
        </tbody>
      </table>
    </div>
  </div> <!-- .col-md-12 -->
  <div class="col-md-12">
    <h4>Corrective Actions</h4>
    <table class="table">
      <thead>
        <tr>
          <th class="cname">Name</td>
          <th class="cpriority">Priority</td>
          <th class="ccorrection">Corrective action</td>
        </tr>
      </thead>
      <tbody>
      {% for result in all_priorities -%}
        {% for msg in result['msgs']-%}
          <tr>
            <td>{{result['name']}}</td>
            <td>{{result['weight']}}</td>
            <td>{{msg}}</td>
          </tr>
        {% endfor -%}
      {% endfor -%}
      </tbody>
    </table>
  </div> <!-- .col-md-12 -->
</div> <!-- .row -->
