name: SGRID Plugin Tests

on:
  pull_request:
  push:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Micromamba
      uses: mamba-org/provision-with-micromamba@v16
      with:
        environment-file: false

    - name: Setup Env
      shell: bash -l {0}
      run: >
        micromamba create --name TEST python=3 pip --file requirements.txt --file test_requirements.txt --channel conda-forge
        && micromamba activate TEST
        && pip install -e . --no-deps --force-reinstall

    - name: cc-plugin-glider tests
      shell: bash -l {0}
      run: >
        micromamba activate TEST
        && git clone https://github.com/ioos/cc-plugin-sgrid.git
        && cd cc-plugin-sgrid
        && pip install -e . --no-deps --force-reinstall
        && pytest -s -rxs -v cc_plugin_sgrid
