name: NCEI Plugin Tests

on:
  pull_request:
  push:

jobs:
  run:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      with:
        persist-credentials: false

    - name: Setup Micromamba
      uses: mamba-org/setup-micromamba@0dea6379afdaffa5d528b3d1dabc45da37f443fc # v2.0.4
      with:
        environment-name: TEST
        init-shell: bash
        create-args: >-
          python=3 pip
          --file requirements.txt
          --file test_requirements.txt
          --channel conda-forge

    - name: Install compliance-checker
      run: |
        python -m pip install -e . --no-deps --force-reinstall

    - name: cc-plugin-ncei tests
      run: >
        git clone https://github.com/ioos/cc-plugin-ncei.git
        && cd cc-plugin-ncei
        && micromamba install --file requirements.txt --file requirements-dev.txt --channel conda-forge
        && micromamba remove compliance-checker --no-prune-deps --force
        && python -m pip install -e . --no-deps --force-reinstall
        && python -m pytest -s -rxs -v cc_plugin_ncei
    permissions:
      actions: none
