name: SGRID Plugin Tests

on:
  pull_request:
  push:

jobs:
  run:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        persist-credentials: false

    - name: Setup Micromamba
      uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462 # v2.0.7
      with:
        environment-name: TEST
        init-shell: bash
        create-args: >-
          python=3 pip
          --file test_requirements.txt
          --channel conda-forge

    - name: Install compliance-checker
      run: |
        python -m pip install -e . --no-deps --force-reinstall

    - name: cc-plugin-sgrid tests
      run: >
        git clone https://github.com/ioos/cc-plugin-sgrid.git
        && cd cc-plugin-sgrid
        && micromamba install --file requirements.txt --file requirements-dev.txt --channel conda-forge
        && micromamba remove compliance-checker --no-prune-deps --force
        && python -m pip install -e . --no-deps --force-reinstall
        && python -m pytest -s -rxs -v cc_plugin_sgrid
    permissions:
      actions: none
