name: Code coverage report

on:
  pull_request:
  push:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Micromamba
      uses: mamba-org/setup-micromamba@v1
      with:
        environment-name: TEST
        init-shell: bash
        create-args: >-
          python=3 pip
          --file requirements.txt
          --file test_requirements.txt
          --channel conda-forge

    - name: Install compliance-checker
      shell: bash -l {0}
      run: |
        python -m pip install -e . --no-deps --force-reinstall

    - name: Run tests with coverage
      shell: bash -l {0}
      run: |
        python -m pytest --cov=compliance_checker --cov-report=xml compliance_checker/tests
      # pass this step even if there are individual test failures, we are
      # interested in the overall level of coverage and other checks can
      # report on test failures.
      continue-on-error: true

    - name: Upload to codecov
      uses: codecov/codecov-action@v4
      with:
        files: coverage.xml
