name: Default Tests

on:
  pull_request:
  push:
    branches: [master]

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9"]
        os: [windows-latest, ubuntu-latest, macos-latest]
      fail-fast: false

    steps:
    - uses: actions/checkout@v2

    - name: Setup Conda
      uses: s-weigand/setup-conda@v1
      with:
        activate-conda: false
        conda-channels: conda-forge

    - name: Python ${{ matrix.python-version }}
      shell: bash -l {0}
      run: |
        conda create --name TEST python=${{ matrix.python-version }} pip "libnetcdf<4.8.0" --file requirements.txt --file test_requirements.txt --strict-channel-priority
        conda activate TEST
        pip install --user -e . --no-deps --force-reinstall

    - name: Conda Info
      shell: bash -l {0}
      run: |
        conda activate TEST
        conda info --all
        conda list

    - name: Default Tests
      shell: bash -l {0}
      run: |
        conda activate TEST
        pytest -s -rxs -v -k "not integration" compliance_checker
