name: Integration Tests

on:
  pull_request:
  push:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      with:
        persist-credentials: false

    - name: Setup Micromamba
      uses: mamba-org/setup-micromamba@0dea6379afdaffa5d528b3d1dabc45da37f443fc # v2.0.4
      with:
        environment-name: TEST
        init-shell: bash
        create-args: >-
          python=3 pip
          --file requirements.txt
          --file test_requirements.txt
          --channel conda-forge

    - name: Install compliance-checker
      shell: bash -l {0}
      run: |
        python -m pip install -e . --no-deps --force-reinstall

    - name: Integration Tests
      shell: bash -l {0}
      run: python -m pytest -m "integration" -s -rxs -v --vcr-record=none compliance_checker
    permissions:
      actions: none
