name: Integration Tests

on:
  pull_request:
  push:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Micromamba
      uses: mamba-org/provision-with-micromamba@v14
      with:
        environment-file: false

    - name: Create Environment
      shell: bash -l {0}
      run: >
        micromamba create --name TEST python=3 pip --file requirements.txt --file test_requirements.txt --channel conda-forge
        && micromamba activate TEST
        && pip install -e . --no-deps --force-reinstall

    - name: Integration Tests
      shell: bash -l {0}
      run: |
        micromamba activate TEST
        pytest -m "integration" -s -rxs -v --vcr-record=none compliance_checker
