name: Publish to PyPI

on:
  pull_request:
  push:
  release:
    types:
      - published

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/compliance-checker
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      with:
        # Should be enough for setuptools-scm
        fetch-depth: 100
        persist-credentials: false

    - name: Get tags
      run: git fetch origin 'refs/tags/*:refs/tags/*'

    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
      with:
        python-version: "3.13"

    - name: Install build tools
      run: |
        python -m pip install --upgrade pip build twine

    - name: Build binary wheel
      run: python -m build --sdist --wheel . --outdir dist

    - name: CheckFiles
      run: |
        ls -lh dist

    - name: Test wheels
      run: |
        cd dist && python -m pip install compliance_checker*.whl
        python -m twine check *

    - name: Publish package distributions to PyPI
      if: success() && github.event_name == 'release'
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # v1.13.0
